<div class="container">
  <h1>Sorry</h1>
  <p>It seems you've been redirected to the DosesController New View. The weirdest thing is it's saying this page is associated with the doses#create action, instead of the doses#new. No idea why this is happening, but we are working on it.</p>

</div>
